# About the project

This project works with a dataset of used cars from eBay Kleinanzeigen, which was originally scraped and uploaded to Kaggle by user **Orgesleka**. You can find the dataset [here](https://data.world/data-society/used-cars-data).
The dataset used in this project was a sample of 50,000 data points which have been modified by [Dataquest.io](https://app.dataquest.io) to more closely resemble what of a scraped dataset. 

The data dictionary provided with data is as follows: 
> - *dateCrawled* - When this ad was first crawled. All field-values are taken from this date.
> - *name* - Name of the car.
> - *seller* - Whether the seller is private or a dealer.
> - *offerType* - The type of listing
> - *price* - The price on the ad to sell the car.
> - *abtest* - Whether the listing is included in an A/B test.
> - *vehicleType* - The vehicle Type.
> - *yearOfRegistration* - The year in which the car was first registered.
> - *gearbox* - The transmission type.
> - *powerPS* - The power of the car in PS.
> - *model* - The car model name.
> - *kilometer* - How many kilometers the car has driven.
> - *monthOfRegistration* - The month in which the car was first registered.
> - *fuelType* - What type of fuel the car uses.
> - *brand* - The brand of the car.
> - *notRepairedDamage* - If the car has a damage which is not yet repaired.
> - *dateCreated* - The date on which the eBay listing was created.
> - *nrOfPictures* - The number of pictures in the ad.
> - *postalCode* - The postal code for the location of the vehicle.
> - *lastSeenOnline* - When the crawler saw this ad last online.

The aim of the project is to practice cleaning the data and do some basic analysis on the included used car listings. 
> - Clean strings: remove whitespaces, upper - lower cases, remove special cases, etc
> - Clean numeric data: missing values, wrong data type
> - Modify dataset's columns name

By analysing the dataset, we can answer the following questions:

> 1) Which seller and offer type are the most common on the website?

> 2) Cars in which price range are the most preferable?

> 3) More information of the included cars relating to registration year and month

## Import necessary libraries and data overall

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

autos = pd.read_csv(r"Desktop\New folder\project3\autos.csv", encoding = "Latin-1")

In [2]:
print(autos.info())
print(autos.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None
           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50

The dataset has totally 20 columns and we noticed that several columns consist of null value: vehicleType, gearbox, model, fuelType, notRepairedDamage. However, none of them have more than ~20% null values

The columns' name use camelcase instead of snakecase and not consistent in style with both lower and upper cases, which makes selecting data more difficult later. 

Therefore, we will modify the columns's name to make it easier to analyze, using Series.map method.

In [3]:
column = autos.columns
print(column)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
column_modified = {'dateCrawled': 'date_crawled', 
                   'name':'name', 
                   'seller':'seller', 
                   'offerType':'offer_type', 
                   'price':'price', 
                   'abtest':'abtest',
                   'vehicleType':'vehicle_type', 
                   'yearOfRegistration': 'registration_year', 
                   'gearbox':'gearbox', 
                   'powerPS': 'power_ps', 
                   'model':'model',
                   'odometer':'odometer',
                   'monthOfRegistration':'registration_month',
                   'fuelType':'fuel_type', 
                   'brand':'brand',
                   'notRepairedDamage':'unrepaired_damage', 
                   'dateCreated':'ad_created', 
                   'nrOfPictures':'no_pictures', 
                   'postalCode': 'postal_code',
                   'lastSeen':'last_seen'}

In [5]:
column = column.map(column_modified)

In [6]:
print(column)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'no_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [7]:
autos.columns = column

In [8]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Now, take a closer look at the dataset to see if any cleaning is neccessary.

In [9]:
print(autos.describe(include = 'all'))

               date_crawled         name  seller offer_type  price abtest  \
count                 50000        50000   50000      50000  50000  50000
unique                48213        38754       2          2   2357      2
top     2016-04-04 16:40:33  Ford_Fiesta  privat    Angebot     $0   test
freq                      3           78   49999      49999   1421  25756
mean                    NaN          NaN     NaN        NaN    NaN    NaN
std                     NaN          NaN     NaN        NaN    NaN    NaN
min                     NaN          NaN     NaN        NaN    NaN    NaN
25%                     NaN          NaN     NaN        NaN    NaN    NaN
50%                     NaN          NaN     NaN        NaN    NaN    NaN
75%                     NaN          NaN     NaN        NaN    NaN    NaN
max                     NaN          NaN     NaN        NaN    NaN    NaN

       vehicle_type  registration_year  gearbox      power_ps  model  \
count         44905       50000.000000    47320  50000.000000  47242
unique            8                NaN        2           NaN    245
top       limousine                NaN  manuell           NaN   golf
freq          12859                NaN    36993           NaN   4024
mean            NaN        2005.073280      NaN    116.355920    NaN
std             NaN         105.712813      NaN    209.216627    NaN
min             NaN        1000.000000      NaN      0.000000    NaN
25%             NaN        1999.000000      NaN     70.000000    NaN
50%             NaN        2003.000000      NaN    105.000000    NaN
75%             NaN        2008.000000      NaN    150.000000    NaN
max             NaN        9999.000000      NaN  17700.000000    NaN

         odometer  registration_month fuel_type       brand unrepaired_damage  \
count       50000        50000.000000     45518       50000             40171
unique         13                 NaN         7          40                 2
top     150,000km                 NaN    benzin  volkswagen              nein
freq        32424                 NaN     30107       10687             35232
mean          NaN            5.723360       NaN         NaN               NaN
std           NaN            3.711984       NaN         NaN               NaN
min           NaN            0.000000       NaN         NaN               NaN
25%           NaN            3.000000       NaN         NaN               NaN
50%           NaN            6.000000       NaN         NaN               NaN
75%           NaN            9.000000       NaN         NaN               NaN
max           NaN           12.000000       NaN         NaN               NaN

                 ad_created  no_pictures   postal_code            last_seen
count                 50000      50000.0  50000.000000                50000
unique                   76          NaN           NaN                39481
top     2016-04-03 00:00:00          NaN           NaN  2016-04-07 06:17:27
freq                   1946          NaN           NaN                    8
mean                    NaN          0.0  50813.627300                  NaN
std                     NaN          0.0  25779.747957                  NaN
min                     NaN          0.0   1067.000000                  NaN
25%                     NaN          0.0  30451.000000                  NaN
50%                     NaN          0.0  49577.000000                  NaN
75%                     NaN          0.0  71540.000000                  NaN
max                     NaN          0.0  99998.000000                  NaN

Firstly, we noticed that no_pictures of only 0.0 values, so we can remove it from the dataset, and also postal_code can be changed to nonnumeric data type. Besides, seller and offer_type columns seem to be strongly skewed by one value. Let's see if we can remove these columns as well.

In [10]:
autos = autos.drop('no_pictures', axis = 1)
autos['postal_code'] = autos['postal_code'].astype(object)

In [11]:
print(autos['seller'].value_counts())
print(autos['offer_type'].value_counts())

privat        49999
gewerblich        1
Name: seller, dtype: int64
Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

So generally **cars were sold by private sellers and offered by Angebot**

## Clean numeric data

Secondly, it seemed that some numeric columns have values stored as text. We need to investigate more these columns. Let's do with price and odometer columns.

In [12]:
print(autos['price'].value_counts())

$0         1421
$500        781
$1,500      734
$2,500      643
$1,000      639
           ...
$54,990       1
$122          1
$32,800       1
$18,399       1
$7,298        1
Name: price, Length: 2357, dtype: int64

With price column, we need to remove $ and "," sign in the price and assign the column to integer datatype.

In [13]:
autos['price'] = autos['price'].str.replace("$","")
autos['price'] = autos['price'].str.replace(",","")
autos['price'] = autos['price'].astype(int)

In [14]:
print(autos['odometer'].value_counts())

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

Similarly, with odometer column, we need to remove "km" and "," before assigning the data to int type.

In [15]:
autos['odometer'] = autos['odometer'].str.replace('km',"").str.replace(",","")
autos['odometer'] = autos['odometer'].astype(int)

Also, We need to change the columns name to make them understandable.

In [16]:
autos.rename({"price":"price_usd", "odometer":"odometer_km"}, axis = 1, inplace = True)

In [17]:
autos[['price_usd','odometer_km']].describe()

          price_usd    odometer_km
count  5.000000e+04   50000.000000
mean   9.840044e+03  125732.700000
std    4.811044e+05   40042.211706
min    0.000000e+00    5000.000000
25%    1.100000e+03  125000.000000
50%    2.950000e+03  150000.000000
75%    7.200000e+03  150000.000000
max    1.000000e+08  150000.000000

We notice that there is a great gap between percentile 75%/maximum and the first half of price range. Meanwhile, a gap between minimum odometer km and the remain data is also observed. 

Also, it is impossible for minimum price to be 0$. Let's try to find the more reasonable price range here.

In [18]:
print(autos['price_usd'].value_counts().sort_index(ascending = True).head(50))

0      1421
1       156
2         3
3         1
5         2
8         1
9         1
10        7
11        2
12        3
13        2
14        1
15        2
17        3
18        1
20        4
25        5
29        1
30        7
35        1
40        6
45        4
47        1
49        4
50       49
55        2
59        1
60        9
65        5
66        1
70       10
75        5
79        1
80       15
89        1
90        5
99       19
100     134
110       3
111       2
115       2
117       1
120      39
122       1
125       8
129       1
130      15
135       1
139       1
140       9
Name: price_usd, dtype: int64

In [19]:
print(autos[autos['price_usd']> 500000].shape[0])

14

Only 14 rows with price greater than 500,000.. these rows can be considered as outlier. The price range can be shortened between 100 and 500,000.

In [20]:
autos = autos[autos['price_usd'].between(100, 500000)]
autos['price_usd'].value_counts().sort_values(ascending = False).head(5)

500     781
1500    734
2500    643
1200    639
1000    639
Name: price_usd, dtype: int64

In [21]:
print(autos['odometer_km'].value_counts().sort_index(ascending = True).head(50))

5000        760
10000       245
20000       757
30000       777
40000       814
50000      1009
60000      1153
70000      1214
80000      1412
90000      1733
100000     2101
125000     5037
150000    31212
Name: odometer_km, dtype: int64

Even though odometer column is right-skewed by the value 150000, the data does not seem to have any problems. 

More cars around 500 or 1500$ were sold and it is reasonable to see that people normally sold order cars, especially ones had driven 150000 km.

## Date columns

Now move to date values column: date_crawled, last_seen, ad_created. These columns are defined as objects, and we want to focus only on the date instead of datetime. (the first 10 strings)

In [22]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [23]:
autos['date_crawled'].str[:10].value_counts(normalize = True, dropna = False).sort_values(ascending = False).head(5)

2016-04-03    0.038611
2016-03-20    0.037803
2016-03-21    0.037201
2016-03-12    0.036911
2016-03-14    0.036662
Name: date_crawled, dtype: float64

In [24]:
autos['ad_created'].str[:10].value_counts(normalize = True, dropna = False).sort_values(ascending = False).head(5)

2016-04-03    0.038860
2016-03-20    0.037865
2016-03-21    0.037429
2016-04-04    0.036890
2016-03-12    0.036745
Name: ad_created, dtype: float64

In [25]:
autos['last_seen'].str[:10].value_counts(normalize = True, dropna = False).sort_values(ascending = False).head(5)

2016-04-06    0.221964
2016-04-07    0.132154
2016-04-05    0.125062
2016-03-17    0.028098
2016-04-03    0.025133
Name: last_seen, dtype: float64

We can see all crawled date, ad created time, or last seen date were **mostly in March and April 2016**. Reasons behind this insight should be investigated further.

Move onto registration year and month to see if there is any issue with the data.

In [26]:
autos[['registration_year','registration_month']].describe()

       registration_year  registration_month
count       48224.000000        48224.000000
mean         2004.730964            5.801634
std            87.897388            3.676976
min          1000.000000            0.000000
25%          1999.000000            3.000000
50%          2004.000000            6.000000
75%          2008.000000            9.000000
max          9999.000000           12.000000

It seems to have mistakes in the minimum value of both registration_year and registration_month, and maximum value of registration_year. Until 1886, cars hadn't been invented yet, and there aren't certainly year 9999 (not yet) and month 0. Let's investigate more those rows and see what we can do to these data points.

In [27]:
registration_year_checks = autos[(autos['registration_year'] < 1886) | (autos['registration_year'] > 2021)]
registration_month_checks = autos[autos['registration_month'] == 0]

In [28]:
print("Number of incorrect registration_year: ",registration_year_checks.shape[0])
print("Number of incorrect registration_month: ",registration_month_checks.shape[0])

Number of incorrect registration_year:  19
Number of incorrect registration_month:  4313

In [29]:
registration_year_checks['registration_year'].value_counts()

5000    3
9999    3
1800    2
6200    1
1111    1
4500    1
5911    1
2800    1
9000    1
1001    1
8888    1
1000    1
4100    1
4800    1
Name: registration_year, dtype: int64

Besides the incorrect registration year, there is no issues with other data, so we can suppose that the incorrect year or month maybe due to data input problems and we can simply replace these values by "np.nan".

In [30]:
autos['registration_year'] = autos['registration_year'].replace([1000, 1001, 1111, 1800], np.nan).replace([5000,9000,4800,5911,2800,8888,6200,4100,4500, 9999], np.nan)
autos['registration_month'] = autos['registration_month'].replace(0, np.nan)

In [31]:
autos['registration_year'].value_counts(normalize=True)

2000.0    0.064392
2005.0    0.060388
1999.0    0.059724
2004.0    0.055990
2003.0    0.055866
            ...
1939.0    0.000021
1938.0    0.000021
1931.0    0.000021
1929.0    0.000021
1927.0    0.000021
Name: registration_year, Length: 81, dtype: float64

In [32]:
autos['registration_month'].value_counts(normalize=True)

3.0     0.113434
6.0     0.096901
4.0     0.091526
5.0     0.091458
7.0     0.087495
10.0    0.081460
12.0    0.076473
9.0     0.075562
11.0    0.075266
1.0     0.072829
8.0     0.070939
2.0     0.066658
Name: registration_month, dtype: float64

The most common registration years were around the beginning of 2000s. It may be due to the result of industrial revolution which happened strongly in 19th century. Interestingly, more cars were registered in March than other months.

# Conclusion

Through this project, we have practiced cleaning data, however, due to lack of information about the dataset, lots of nan or missing data can't be dealt with the best way as possible. Also, some insights driven from the dataset need more investigation to be fully explained.