In [1]:
import pandas as pd
import sqlite3

In [2]:
#Q1 Connect to database

conn = sqlite3.connect(r'D:\Download_Hue\Documents\Data Science\Python for data analysis\assignment\assignment 1\resource-20210110T134843Z-001\resource\database.sqlite')
table = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", conn)
print(table)
print(table.info())

    type               name           tbl_name  rootpage  \
0  table    sqlite_sequence    sqlite_sequence         4
1  table  Player_Attributes  Player_Attributes        11
2  table             Player             Player        14
3  table              Match              Match        18
4  table             League             League        24
5  table            Country            Country        26
6  table               Team               Team        29
7  table    Team_Attributes    Team_Attributes         2

                                                 sql
0             CREATE TABLE sqlite_sequence(name,seq)
1  CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2  CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3  CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4  CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5  CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
7  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      8 non-null      object
 1   name      8 non-null      object
 2   tbl_name  8 non-null      object
 3   rootpage  8 non-null      int64
 4   sql       8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes
None

In [3]:
table2 = pd.read_sql_query("SELECT sql FROM sqlite_master WHERE type='table'", conn)
print(table2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sql     8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes
None

In [4]:
#Q2 select data in "Country" table

country = pd.read_sql_query("SELECT * FROM Country",conn)
print(country)

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [5]:
#Q3 select data in "League" table

league = pd.read_sql_query("SELECT * FROM League",conn)
print(league)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [6]:
#Q4 Select League data with Country information

league_country = pd.read_sql_query("SELECT * FROM League \
LEFT JOIN Country ON League.id = Country.id",conn)
print(league_country)

       id  country_id                      name     id         name
0       1           1    Belgium Jupiler League      1      Belgium
1    1729        1729    England Premier League   1729      England
2    4769        4769            France Ligue 1   4769       France
3    7809        7809     Germany 1. Bundesliga   7809      Germany
4   10257       10257             Italy Serie A  10257        Italy
5   13274       13274    Netherlands Eredivisie  13274  Netherlands
6   15722       15722        Poland Ekstraklasa  15722       Poland
7   17642       17642  Portugal Liga ZON Sagres  17642     Portugal
8   19694       19694   Scotland Premier League  19694     Scotland
9   21518       21518           Spain LIGA BBVA  21518        Spain
10  24558       24558  Switzerland Super League  24558  Switzerland

In [7]:
# Q5 Select data from Match table

match = pd.read_sql_query("SELECT * FROM Match", conn)
print(match.head())

   id  country_id  league_id     season  stage                 date  \
0   1           1          1  2008/2009      1  2008-08-17 00:00:00
1   2           1          1  2008/2009      1  2008-08-16 00:00:00
2   3           1          1  2008/2009      1  2008-08-16 00:00:00
3   4           1          1  2008/2009      1  2008-08-17 00:00:00
4   5           1          1  2008/2009      1  2008-08-16 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0        492473              9987              9993               1  ...
1        492474             10000              9994               0  ...
2        492475              9984              8635               0  ...
3        492476              9991              9998               5  ...
4        492477              7947              9985               1  ...

    SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
0  4.00  1.65  3.40  4.50  1.78  3.25  4.00  1.73  3.40  4.20
1  3.80  2.00  3.25  3.25  1.85  3.25  3.75  1.91  3.25  3.60
2  2.50  2.35  3.25  2.65  2.50  3.20  2.50  2.30  3.20  2.75
3  7.50  1.45  3.75  6.50  1.50  3.75  5.50  1.44  3.75  6.50
4  1.73  4.50  3.40  1.65  4.50  3.50  1.65  4.75  3.30  1.67

[5 rows x 115 columns]

In [8]:
# Q6 Select match data including league and country information

match_league_country = pd.read_sql_query("SELECT * FROM Match M \
LEFT JOIN League L ON M.country_id = L.country_id \
LEFT JOIN Country C ON M.country_id = C.id", conn)
print(match_league_country.head(3))

   id  country_id  league_id     season  stage                 date  \
0   1           1          1  2008/2009      1  2008-08-17 00:00:00
1   2           1          1  2008/2009      1  2008-08-16 00:00:00
2   3           1          1  2008/2009      1  2008-08-16 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0        492473              9987              9993               1  ...
1        492474             10000              9994               0  ...
2        492475              9984              8635               0  ...

    GBD   GBA   BSH   BSD   BSA  id  country_id                    name  id  \
0  3.25  4.00  1.73  3.40  4.20   1           1  Belgium Jupiler League   1
1  3.25  3.75  1.91  3.25  3.60   1           1  Belgium Jupiler League   1
2  3.20  2.50  2.30  3.20  2.75   1           1  Belgium Jupiler League   1

      name
0  Belgium
1  Belgium
2  Belgium

[3 rows x 120 columns]

In [29]:
# Q 7 Get number of match by each league including league name, order the number of match by descending

no_match = pd.read_sql_query("SELECT count(*) AS no_match, L.name FROM Match M \
LEFT JOIN League L ON M.country_id = L.country_id \
GROUP BY L.name \
ORDER BY no_match DESC", conn)
print(no_match)

    no_match                      name
0       3040           Spain LIGA BBVA
1       3040            France Ligue 1
2       3040    England Premier League
3       3017             Italy Serie A
4       2448    Netherlands Eredivisie
5       2448     Germany 1. Bundesliga
6       2052  Portugal Liga ZON Sagres
7       1920        Poland Ekstraklasa
8       1824   Scotland Premier League
9       1728    Belgium Jupiler League
10      1422  Switzerland Super League

In [10]:
# Q8 Get total goal of home team and away team in each league

total_goal = pd.read_sql_query('SELECT L.name, Sum(home_team_goal) AS hteam_goal, \
Sum(away_team_goal) AS ateam_goal \
FROM Match M \
INNER JOIN League L ON M.country_id = L.country_id \
GROUP BY L.name', conn)
print(total_goal)

                        name  hteam_goal  ateam_goal
0     Belgium Jupiler League        2781        2060
1     England Premier League        4715        3525
2             France Ligue 1        4265        3162
3      Germany 1. Bundesliga        3982        3121
4              Italy Serie A        4528        3367
5     Netherlands Eredivisie        4357        3185
6         Poland Ekstraklasa        2678        1978
7   Portugal Liga ZON Sagres        2890        2311
8    Scotland Premier League        2607        2197
9            Spain LIGA BBVA        4959        3453
10  Switzerland Super League        2365        1801

In [11]:
# Q9 Select data from Team table

team = pd.read_sql_query("SELECT * FROM Team", conn)
print(team.head())

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [30]:
# Q 10 get top 20 teams with the highest home goal
top_home_goal = pd.read_sql_query('SELECT team_long_name, Sum(home_team_goal) AS home_goal \
FROM Team, Match \
WHERE team_api_id = home_team_api_id \
GROUP BY team_long_name \
ORDER BY Sum(home_team_goal) DESC Limit 20;', conn)
print(top_home_goal)

         team_long_name  home_goal
0        Real Madrid CF        505
1          FC Barcelona        495
2                Celtic        389
3      FC Bayern Munich        382
4                   PSV        370
5       Manchester City        365
6                  Ajax        360
7              FC Basel        344
8     Manchester United        338
9               Chelsea        333
10  Paris Saint-Germain        332
11           SL Benfica        321
12      Atlético Madrid        321
13       BSC Young Boys        319
14             Juventus        307
15              Arsenal        306
16               Napoli        303
17          Valencia CF        299
18                 Roma        299
19    Borussia Dortmund        298

In [31]:
# Q11 get top 20 teams with the highest away goal

top_away_goal = pd.read_sql_query('SELECT team_long_name, Sum(away_team_goal) AS away_goal \
FROM Team, Match \
WHERE team_api_id = away_team_api_id \
GROUP BY team_long_name \
ORDER BY Sum(away_team_goal) DESC Limit 20;', conn)
print(top_away_goal)

         team_long_name  away_goal
0          FC Barcelona        354
1        Real Madrid CF        338
2                Celtic        306
3                  Ajax        287
4                   PSV        282
5              FC Basel        275
6      FC Bayern Munich        271
7               Arsenal        267
8     Borussia Dortmund        253
9               Chelsea        250
10           SL Benfica        247
11             FC Porto        246
12    Manchester United        244
13      Manchester City        241
14            Liverpool        237
15  Paris Saint-Germain        236
16             Juventus        236
17                 Roma        231
18            FC Zürich        227
19    Tottenham Hotspur        226

In [14]:
# Q12 
# Calcule total point of each team by summing home and away_goal, group by home_team_api_id and union with away_team_api_id
# subqueries in from clause (but how?) and join with team table.

In [15]:
# Q12 Get team long name with total of goal, order the total number by descending

totalGoal = pd.read_sql_query(
'SELECT HT.team_long_name, \
Sum(home_team_goal + away_team_goal) AS totalGoal \
FROM Match as M \
LEFT JOIN Team as HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team as AT ON AT.team_api_id = M.away_team_api_id \
GROUP BY HT.team_long_name \
ORDER BY totalGoal DESC;', conn)

print(totalGoal)

       team_long_name  totalGoal
0      Real Madrid CF        652
1        FC Barcelona        596
2                 PSV        496
3     Manchester City        490
4      BSC Young Boys        485
..                ...        ...
291  Uniao da Madeira         36
292          Trofense         35
293        Angers SCO         35
294          Feirense         32
295           Amadora         31

[296 rows x 2 columns]

In [16]:
# Q13 Get team long name with total of matches, order the total number by descending

totalMatch = pd.read_sql_query('SELECT HT.team_long_name, \
Count(Distinct M.id) AS totalMatch FROM Match as M \
LEFT JOIN Team AS HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = M.away_team_api_id \
GROUP BY HT.team_long_name \
ORDER BY totalMatch DESC;', conn)
print(totalMatch)

                   team_long_name  totalMatch
0                     Valencia CF         152
1                     Toulouse FC         152
2               Tottenham Hotspur         152
3                      Sunderland         152
4                      Stoke City         152
..                            ...         ...
291  Termalica Bruk-Bet Nieciecza          15
292                  Portimonense          15
293                     KAS Eupen          15
294                      Feirense          15
295                       Amadora          15

[296 rows x 2 columns]

In [17]:
# Q14 Get numbers of win, lost and draw matches of each team

MatchResult = pd.read_sql_query("SELECT HT.team_long_name, \
CASE WHEN home_team_goal > away_team_goal THEN 'win' \
WHEN home_team_goal < away_team_goal THEN 'lost' \
ELSE 'draw' \
END AS MatchResult \
FROM Match AS M \
LEFT JOIN Team AS HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = M.away_team_api_id;", conn)
print(MatchResult)

                team_long_name MatchResult
0                     KRC Genk        draw
1             SV Zulte-Waregem        draw
2            KSV Cercle Brugge        lost
3                     KAA Gent         win
4                FCV Dender EH        lost
...                        ...         ...
25974            FC St. Gallen         win
25975                 FC Vaduz        lost
25976  Grasshopper Club Zürich         win
25977                   Lugano        draw
25978           BSC Young Boys         win

[25979 rows x 2 columns]

In [18]:
MatchResult2 = pd.read_sql_query("SELECT HT.team_long_name, \
CASE WHEN home_team_goal > away_team_goal THEN 'win' \
WHEN home_team_goal < away_team_goal THEN 'lost' \
ELSE 'draw' \
END AS MatchResult, \
Count(*) AS Team_achievement \
FROM Match AS M \
LEFT JOIN Team AS HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = M.away_team_api_id \
GROUP BY HT.team_long_name;", conn)
print(MatchResult2)

               team_long_name MatchResult  Team_achievement
0        1. FC Kaiserslautern         win                34
1                  1. FC Köln        lost               102
2              1. FC Nürnberg        lost                85
3             1. FSV Mainz 05        draw               119
4                  AC Ajaccio        lost                57
..                        ...         ...               ...
291      Xerez Club Deportivo        draw                19
292            Zagłębie Lubin        draw                90
293         Zawisza Bydgoszcz        lost                30
294  Évian Thonon Gaillard FC        lost                76
295             Śląsk Wrocław        draw               120

[296 rows x 3 columns]

In [19]:
# Q15 Get top 10 teams with the highest numbers of win matches

top_winners = pd.read_sql_query("SELECT \
CASE WHEN home_team_goal > away_team_goal THEN HT.team_long_name \
ELSE AT.team_long_name \
END AS Winning_team, \
Count(*) AS Number_wins \
FROM Match AS M \
LEFT JOIN Team AS HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = M.away_team_api_id \
GROUP BY Winning_team \
ORDER BY Number_wins Desc limit 10;", conn)
print(top_winners)

          Winning_team  Number_wins
0         FC Barcelona          265
1       Real Madrid CF          253
2               Celtic          245
3    Manchester United          233
4             Juventus          225
5     FC Bayern Munich          223
6  Paris Saint-Germain          219
7      Manchester City          218
8             FC Basel          218
9                 Ajax          216

In [20]:
# Q16 Get percentage of each league to join the matches

percentage_league = pd.read_sql_query("SELECT League.Name AS League_name, \
Count(Match.league_id)*100.0 / Sum(count(Match.league_id)) Over() \
AS PercentageJoin FROM League \
JOIN Match on League.id = Match.league_id \
GROUP BY League.Name;", conn)
print(percentage_league)

                 League_name  PercentageJoin
0     Belgium Jupiler League        6.651526
1     England Premier League       11.701759
2             France Ligue 1       11.701759
3      Germany 1. Bundesliga        9.422995
4              Italy Serie A       11.613226
5     Netherlands Eredivisie        9.422995
6         Poland Ekstraklasa        7.390585
7   Portugal Liga ZON Sagres        7.898687
8    Scotland Premier League        7.021055
9            Spain LIGA BBVA       11.701759
10  Switzerland Super League        5.473652

In [21]:
goal = pd.read_sql_query('SELECT league_id,goal FROM Match;', conn)
print(goal)

       league_id  goal
0              1  None
1              1  None
2              1  None
3              1  None
4              1  None
...          ...   ...
25974      24558  None
25975      24558  None
25976      24558  None
25977      24558  None
25978      24558  None

[25979 rows x 2 columns]

In [22]:
# Q17: Get percentage of score in each league   ?????

GoalRate = pd.read_sql_query(
'SELECT League.Name, \
Sum(home_team_goal + away_team_goal) AS totalGoal, \
Sum(home_team_goal + away_team_goal)*100.0 / Sum(Sum(home_team_goal + away_team_goal)) Over() \
AS percentageGoal FROM League \
JOIN Match AS M ON League.id = M.league_id \
LEFT JOIN Team AS HT ON HT.team_api_id = M.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = M.away_team_api_id \
GROUP BY League.Name \
ORDER BY totalGoal DESC;', conn)

print(GoalRate)

                        name  totalGoal  percentageGoal
0            Spain LIGA BBVA       8412       11.968074
1     England Premier League       8240       11.723363
2              Italy Serie A       7895       11.232518
3     Netherlands Eredivisie       7542       10.730292
4             France Ligue 1       7427       10.566677
5      Germany 1. Bundesliga       7103       10.105709
6   Portugal Liga ZON Sagres       5201        7.399661
7     Belgium Jupiler League       4841        6.887476
8    Scotland Premier League       4804        6.834834
9         Poland Ekstraklasa       4656        6.624269
10  Switzerland Super League       4166        5.927127

In [23]:
Season = pd.read_sql_query('SELECT season FROM Match;', conn)
print(Season)

          season
0      2008/2009
1      2008/2009
2      2008/2009
3      2008/2009
4      2008/2009
...          ...
25974  2015/2016
25975  2015/2016
25976  2015/2016
25977  2015/2016
25978  2015/2016

[25979 rows x 1 columns]

In [24]:
# Q18: Get total numbers of goals for each league in each season

seasonMatch = pd.read_sql_query('SELECT \
League.name AS league_name, \
season, \
Sum(home_team_goal+away_team_goal) AS total_goals \
FROM Match \
JOIN League ON League.id = Match.league_id \
LEFT JOIN Team AS HT ON HT.team_api_id = Match.home_team_api_id \
LEFT JOIN Team AS AT ON AT.team_api_id = Match.away_team_api_id \
GROUP BY League.name, season \
ORDER BY League.name, season DESC \
;', conn)
print(seasonMatch)

                 league_name     season  total_goals
0     Belgium Jupiler League  2015/2016          694
1     Belgium Jupiler League  2014/2015          668
2     Belgium Jupiler League  2013/2014           30
3     Belgium Jupiler League  2012/2013          703
4     Belgium Jupiler League  2011/2012          691
..                       ...        ...          ...
83  Switzerland Super League  2012/2013          462
84  Switzerland Super League  2011/2012          425
85  Switzerland Super League  2010/2011          537
86  Switzerland Super League  2009/2010          599
87  Switzerland Super League  2008/2009          540

[88 rows x 3 columns]

In [25]:
# Q19: Get player attributes:

player_attributes = pd.read_sql_query("SELECT player_name, \
height/100.0 AS Height_meter, \
weight* 0.45359237 AS Weight_kg, \
(weight*0.45359237)/((height/100.0)*(height/100.0)) AS Bmi, \
strftime('%Y', 'now') - strftime('%Y',birthday) AS Age \
FROM Player;", conn)
print(player_attributes)

               player_name  Height_meter  Weight_kg        Bmi  Age
0       Aaron Appindangoye        1.8288  84.821773  25.361499   29
1          Aaron Cresswell        1.7018  66.224486  22.866598   32
2              Aaron Doran        1.7018  73.935556  25.529147   30
3            Aaron Galindo        1.8288  89.811289  26.853352   39
4             Aaron Hughes        1.8288  69.853225  20.885940   42
...                    ...           ...        ...        ...  ...
11055       Zoumana Camara        1.8288  76.203518  22.784662   42
11056         Zsolt Laczko        1.8288  79.832257  23.869646   35
11057            Zsolt Low        1.8034  69.853225  21.478420   42
11058  Zurab Khizanishvili        1.8542  78.017888  22.692432   40
11059   Zvjezdan Misimovic        1.8034  79.832257  24.546766   39

[11060 rows x 5 columns]

In [26]:
# Q20: Get the oldest player

oldestPlayer = pd.read_sql_query("SELECT player_name, \
strftime('%Y','now') - strftime('%Y', birthday) AS Age \
FROM Player ORDER BY Age DESC Limit 1;", conn)
print(oldestPlayer)

       player_name  Age
0  Alberto Fontana   54

In [27]:
# Q21: Get players who played the most matches
Date = pd.read_sql_query('SELECT player_name, \
Count(*) AS noMatch \
FROM Player AS P, Player_Attributes AS PA \
WHERE P.player_api_id = PA.player_api_id \
GROUP BY PA.player_api_id \
ORDER BY noMatch DESC Limit 10;', conn)
print(Date)

          player_name  noMatch
0     Roberto Pereyra       56
1       Alessio Cerci       56
2     Sebastian Meoli       55
3     Michael Bradley       54
4      Yacine Brahimi       53
5   Claudio Marchisio       53
6  Zdravko Kuzmanovic       52
7     Phillippe Mexes       51
8                Alex       50
9        Nacer Chadli       50

In [28]:
# Q22: Get players who had overall rating larger than 80
RatingOver80 = pd.read_sql_query("SELECT player_name, overall_rating \
FROM Player, Player_Attributes \
WHERE Player.player_api_id = Player_Attributes.player_api_id \
AND overall_rating > 80 \
GROUP BY player_name \
ORDER BY overall_rating DESC;", conn)
print(RatingOver80)

           player_name  overall_rating
0         Lionel Messi              94
1    Cristiano Ronaldo              93
2               Neymar              90
3         Manuel Neuer              90
4          Luis Suarez              90
..                 ...             ...
832    Afonso Alves,24              81
833       Adrian Lopez              81
834          Adil Rami              81
835        Adem Ljajic              81
836       Aaron Lennon              81

[837 rows x 2 columns]